# General settings
general {
    gaps_in = 12
    gaps_out = 24
    border_size = 2
    col.active_border = rgba(cba6f7ff) rgba(89b4faff) 45deg
    col.inactive_border = rgba(595959aa)
    layout = dwindle
    allow_tearing = true
    resize_on_border = false
}

# Decoration
decoration {
    rounding = 4
    drop_shadow = yes
    shadow_range = 4
    shadow_render_power = 3
    col.shadow = rgba(1a1a1aee)
    blur {
        enabled = true
        size = 3
        passes = 1

        vibrancy = 0.1696
    }
    active_opacity = 1.0
    inactive_opacity = 0.90
}

# Animations
animations {
    enabled = yes
    # bezier = old, 0.05, 0.9, 0.1, 1.05
    bezier = ease, 0.4, 0.02, 0.21, 1.0
    animation = windows, 1, 4, ease
    animation = windowsOut, 1, 4, ease, popin 80%
    animation = border, 1, 6, ease
    animation = borderangle, 1, 8, ease
    animation = fade, 1, 4, ease
    animation = workspaces, 1, 4, ease
}

# Input settings
input {
    kb_layout = us
    follow_mouse = 1
    sensitivity = 0 # -1.0 to 1.0, 0 means no change
    touchpad {
        natural_scroll = yes
    }
}

# Dwindle layout settings
dwindle {
    pseudotile = yes # Enable pseudo-tiling
    preserve_split = yes
}
# Cursor size
env = XCURSOR_SIZE,24
env = HYPRCURSOR_SIZE,24

# Set monitor config
monitor=DP-2,highres,auto,2
monitor=eDP-1,highres,auto-right,2
monitor=DP-1,highrr,auto,2

# Default apps
$terminal = wezterm
$browser = firefox
$fileManager = nemo
$menu = wofi --show drun

# Startup apps
exec-once = $terminal
exec-once = $browser
exec-once = teams-for-linux
exec-once = discord
exec-once = thunderbird
exec-once = wlsunset -l -25.4 -L -49.2 # Replaces redshift for Wayland
exec-once = waybar & 
exec-once = hyprpaper
exec-once = nm-applet &
# exec-once = swayidle -w timeout 60 "$HOME/.dotfiles/scripts/lockscreen.sh"

# See https://wiki.hyprland.org/Configuring/Master-Layout/ for more
master {
    new_status = master
}

# https://wiki.hyprland.org/Configuring/Variables/#misc
misc {
	disable_splash_rendering = true
	disable_autoreload = false
    disable_hyprland_logo = true # If true disables the random hyprland logo / anime girl background. :(
    force_default_wallpaper = 1 # Set to 0 or 1 to disable the anime mascot wallpapers
}

input {
    kb_layout = us
    kb_variant = intl
    kb_model =
    kb_options = caps:super
    kb_rules =

    follow_mouse = 1

    sensitivity = 0 # -1.0 - 1.0, 0 means no modification.
	touchpad {
        natural_scroll = false
    }
}

# https://wiki.hyprland.org/Configuring/Variables/#gestures
gestures {
    workspace_swipe = false
}

# Keybindings
$capsMod = SUPER
$shiftMod = SHIFT
$altMod = ALT

# Workspace names with icons 
workspace = 1, default=true, defaultName: Firefox,		monitor:DP-2,  
workspace = 2, default=true, defaultName: Terminal,	monitor:DP-2,  
workspace = 3, default=true, defaultName: Code,		monitor:DP-2,  
workspace = 4, default=true, defaultName: Files,		monitor:DP-2,  
workspace = 5, default=true, defaultName:󰦨 Obsidian,	monitor:eDP-1, 
workspace = 6, default=true, defaultName: Steam,		monitor:eDP-1, 
workspace = 7, default=true, defaultName: Games,		monitor:eDP-1, 
workspace = 8, default=true, defaultName: Mail,		monitor:eDP-1, 

# Set apps to workspaces 
windowrulev2 = workspace 1, class:^(firefox)$
windowrulev2 = workspace 2, class:^(org.wezfurlong.wezterm)$
windowrulev2 = float, class:^(org.wezfurlong.wezterm)$
windowrulev2 = workspace 4, class:^(nemo)$
windowrulev2 = workspace 5, class:^(obsidian)$
windowrulev2 = workspace 6, class:^(steam)$
windowrulev2 = float, class:^(steam)$
windowrulev2 = workspace 7, class:^(RimWorldLinux)$
windowrulev2 = workspace 8, class:^(thunderbird)$
windowrulev2 = workspace 8, class:^(discord)$
windowrulev2 = float, class:^(discord)$
windowrulev2 = workspace 8, class:^(teams-for-linux)$

# Example binds, see https://wiki.hyprland.org/Configuring/Binds/ for more
bind = $capsMod, N, exec, pkill waybar && hyprctl dispatch exec waybar 
bind = $capsMod, T, exec, $terminal
bind = $capsMod, C, killactive,
bind = $capsMod, F, exec, $fileManager
bind = $capsMod, V, togglefloating,
bind = $capsMod, D, exec, $menu
bind = $capsMod, P, pseudo, # dwindle
bind = $capsMod, O, togglesplit, # dwindle
bind = $capsMod $shiftMod, M, exit,

# Move focus with capsMod + arrow keys
bind = $capsMod, H, movefocus, l
bind = $capsMod, L, movefocus, r
bind = $capsMod, J, movefocus, u
bind = $capsMod, K, movefocus, d

# Workspace switching
bind = $capsMod, 1, workspace, 1
bind = $capsMod, 2, workspace, 2
bind = $capsMod, 3, workspace, 3
bind = $capsMod, 4, workspace, 4
bind = $capsMod, Q, workspace, 5
bind = $capsMod, W, workspace, 6
bind = $capsMod, E, workspace, 7
bind = $capsMod, R, workspace, 8

# Move window to workspace
bind = $capsMod $shiftMod, 1, movetoworkspace, 1
bind = $capsMod $shiftMod, 2, movetoworkspace, 2
bind = $capsMod $shiftMod, 3, movetoworkspace, 3
bind = $capsMod $shiftMod, 4, movetoworkspace, 4
bind = $capsMod $shiftMod, Q, movetoworkspace, 5
bind = $capsMod $shiftMod, W, movetoworkspace, 6
bind = $capsMod $shiftMod, E, movetoworkspace, 7
bind = $capsMod $shiftMod, R, movetoworkspace, 8

# Example special workspace (scratchpad)
bind = $altMod, P, togglespecialworkspace, magic
bind = $capsMod $shiftMod, P, movetoworkspace, special:magic

# Scroll through workspaces
bind = $capsMod, mouse_down, workspace, e+1
bind = $capsMod, mouse_up, workspace, e-1

# Move/resize windows with capsMod + LMB/RMB and dragging
bindm = $capsMod, mouse:272, movewindow
bindm = $capsMod, mouse:273, resizewindow

# Laptop multimedia keys for volume and LCD brightness
bindel = ,XF86AudioRaiseVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+
bindel = ,XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-
bindel = ,XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
bindel = ,XF86AudioMicMute, exec, wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle
bindel = ,XF86MonBrightnessUp, exec, brightnessctl s 10%+
bindel = ,XF86MonBrightnessDown, exec, brightnessctl s 10%-

# Requires playerctl
bindl = , XF86AudioNext, exec, playerctl next
bindl = , XF86AudioPause, exec, playerctl play-pause
bindl = , XF86AudioPlay, exec, playerctl play-pause
bindl = , XF86AudioPrev, exec, playerctl previous

# Screenshots with grim and slurp (Wayland replacements for maim)
bind = , Print, exec, grim "$HOME/Pictures/Screenshots/$(date -Iseconds).png"
bind = $mod4, Print, exec, grim -g "$(hyprctl activewindow -j | jq -r '.at[0], .at[1], .size[0], .size[1] | "\(.[0]),\(.[1]) \(.[2])x\(.[3])'")" "$HOME/Pictures/Screenshots/$(date -Iseconds).png"
bind = SHIFT, Print, exec, grim -g "$(slurp)" "$HOME/Pictures/Screenshots/$(date -Iseconds).png"

# Clipboard Screenshots
bind = CTRL, Print, exec, grim - | wl-copy
bind = $mod4 CTRL, Print, exec, grim -g "$(hyprctl activewindow -j | jq -r '.at[0], .at[1], .size[0], .size[1] | "\(.[0]),\(.[1]) \(.[2])x\(.[3])'")" - | wl-copy
bind = CTRL SHIFT, Print, exec, grim -g "$(slurp)" - | wl-copy

# Ignore maximize requests from apps. You'll probably like this.
# windowrulev2 = suppressevent maximize, class:.*

# Fix some dragging issues with XWayland
# windowrulev2 = nofocus,class:^$,title:^$,xwayland:1,floating:1,fullscreen:0,pinned:0

# Workspace rules

