# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# Alt key
set $mod1key Mod1
set $mod1 Mod1
set $smod1 Mod1+Shift
set $cmod1 Mod1+Control
set $scmod1 Mod1+Shift+Control

# Caps lock key
set $mod3key Mod3
set $mod3 Mod3
set $smod3 Mod3+Shift
set $cmod3 Mod3+Control
set $scmod3 Mod3+Shift+Control

# Windows key
set $mod4key Mod4
set $mod4 Mod4
set $smod4 Mod4+Shift
set $cmod4 Mod4+Control
set $scmod4 Mod4+Shift+Control

# Font
set $fontName DepartureMono Nerd Font Mono
# IosevkaTermSlabNerdFont
# JetBrainsMonoNL Nerd Font Mono, Regular
set $fontSize 12

font pango:$fontName $fontSize

# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex-autostart --autostart --environment i3

# Initialize opentabletdriver daemon
exec --no-startup-id otd-daemon

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# They are included here as an example. Modify as you see fit.
# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# Screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xset +dpms dpms 0 300 300
exec --no-startup-id xss-lock --transfer-sleep-lock -- ~/.dotfiles/setup/lockscreen.sh
# i3lock -c 000000 -e && xset dpms

# Keybinding lockscreen
bindsym $smod4+x mode "lock"

mode "lock" {
    bindsym l exec i3lock --ignore-empty-password --tiling -c 000000 2>/dev/null, mode "default"
    # just force suspend. i3lock will be called automatically via lock.sh 
    bindsym s exec --no-startup-id sleep 1 && xset dpms force suspend , mode "default"
}

# Start picom compositor
exec_always --no-startup-id picom -b --config $HOME/.config/picom/config
# --experimental-backends

# NetworkManager is the most popular way to manage wireless networks on Linux,
# And nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# Use Mouse+$mod4 to drag floating windows to their wanted position
floating_modifier $mod4key

# Open most used apps
bindsym $mod4+Return exec --no-startup-id wezterm
bindsym $mod4+f exec --no-startup-id firefox
bindsym $mod4+e exec --no-startup-id nemo
bindsym $mod4+s exec --no-startup-id steam

# Assign applications to workspaces
assign [class="firefox"] $ws1
assign [class="org.wezfurlong.wezterm"] $ws3
assign [class="nemo"] $ws4
assign [class="obsidian"] $ws4
assign [class="steam"] $ws5

# Kill focused window
bindsym $mod3+x kill

# Rofi configuration
bindsym $mod3+space exec --no-startup-id rofi -show run -run-command "i3-msg exec '{cmd}'" -font "$fontName 19.2"

# Change focus
bindsym $mod3+h focus left
bindsym $mod3+j focus down
bindsym $mod3+k focus up
bindsym $mod3+l focus right

# Move focused window
bindsym $smod3+h move left
bindsym $smod3+j move down
bindsym $smod3+k move up
bindsym $smod3+l move right

# Splits orientation
bindsym $mod3+c split h
bindsym $mod3+v split v

# Enter fullscreen mode for the focused container
bindsym $smod4+f fullscreen toggle

# Change container layout (stacked, tabbed, toggle split)
# $mod4+s layout stacking
bindsym $mod4+z layout tabbed
bindsym $smod4+z layout toggle split

# Toggle tiling / floating
bindsym $smod4+space floating toggle

# Change focus between tiling / floating windows
bindsym $mod4+space focus mode_toggle

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set	$ws1 "1: Browser"
set	$ws2 "2: Browser"
set	$ws3 "3: Terminal"
set	$ws4 "4"
set	$ws5 "5: Steam"
set	$ws6 "6"
set	$ws7 "7"
set	$ws8 "8"
set	$ws9 "9: Special"

# Assign workspaces to specific monitors
workspace $ws1 output DisplayPort-1
workspace $ws2 output DisplayPort-1
workspace $ws3 output DisplayPort-1
workspace $ws4 output DisplayPort-1
workspace $ws5 output eDP
workspace $ws6 output eDP
workspace $ws7 output eDP
workspace $ws8 output eDP

# Switch to workspace
bindsym $mod3+q workspace $ws1
bindsym $mod3+w workspace $ws2
bindsym $mod3+e workspace $ws3
bindsym $mod3+r workspace $ws4
bindsym $mod3+a workspace $ws5
bindsym $mod3+s workspace $ws6
bindsym $mod3+d workspace $ws7
bindsym $mod3+f workspace $ws8
bindsym $mod3+p workspace $ws9

# Move focused container to workspace
bindsym $smod3+q move container to workspace $ws1
bindsym $smod3+w move container to workspace $ws2
bindsym $smod3+e move container to workspace $ws3
bindsym $smod3+r move container to workspace $ws4
bindsym $smod3+a move container to workspace $ws5
bindsym $smod3+s move container to workspace $ws6
bindsym $smod3+d move container to workspace $ws7
bindsym $smod3+f move container to workspace $ws8
bindsym $smod3+p move container to workspace $ws9

# Reload the configuration file
bindsym $smod4+c reload
# Restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $smod4+r restart
# Exit i3 (logs you out of your X session)
bindsym $smod4+e exec --no-startup-id "i3-nagbar -t warning -m 'Want to exit i3?' -B 'Exit' 'i3-msg exit'" 

# Colors
set $back		#ffffff
set $fore		#1f1f28
set $active		#9aa88f
set $inactive	#faa88f
set $urgent		#c34043
set $trans		#00000000
set $border		#000000

# Colors
# class                 border		backgr		text		indicator	child_border
client.focused			$active		$border		$back		$active		$back
client.focused_inactive $active		$back		$fore		$fore		$fore
client.unfocused		$active		$back		$fore		$fore		$fore
client.urgent			$active		$back		$fore		$fore		$fore
client.placeholder		$active		$back		$fore 		$fore		$fore

# Gaps
gaps inner 12
gaps outer 24
smart_gaps off

# Window border appearance
default_border pixel 2
default_floating_border pixel 2

# Run Polybar
exec_always --no-startup-id "$HOME/.dotfiles/setup/polybar.sh"

# Set capslock key 
exec --no-startup-id "$HOME/.dotfiles/setup/capslock.sh"

# Set resolution
exec --no-startup-id "$HOME/.dotfiles/setup/resolution.sh"

# Set wallpaper
exec_always --no-startup-id "sleep 1 && $HOME/.dotfiles/setup/wallpaper.sh"

# Set locksreen
# exec --no-startup-id "bash $HOME/.dotfiles/setup/lockscreen.sh"

# Night light
# TODO script for switch on/off using $mod3+n
exec --no-startup-id redshift -m randr -l -25.410760:-49.207110 -b 1:.8 -t 6500:3000

# Screenshots
set $screenshot "$HOME/Pictures/Screenshots/$(date -Iseconds).png"
bindsym Print exec --no-startup-id maim -o $screenshot
bindsym $mod4+Print exec --no-startup-id maim -o --window $(xdotool getactivewindow) $screenshot
bindsym Shift+Print exec --no-startup-id maim -o --select $screenshot

# Clipboard Screenshots
bindsym Ctrl+Print exec --no-startup-id maim | xclip -selection clipboard -t image/png
bindsym $mod4+Ctrl+Print exec --no-startup-id maim --window $(xdotool getactivewindow) | xclip -selection clipboard -t image/png
bindsym Ctrl+Shift+Print exec --no-startup-id maim --select | xclip -selection clipboard -t image/png

