# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# Default modifier is Win.
# Mod1 is Alt
# Mod2 is Numlock
# Mod3 is Capslock
# Mod4 is Option
# Mod5 is Shift
set $mod1	Mod1
set $mod3	Mod3
set $mod4	Mod4

set $smod3	Mod3+Shift
set $smod4	Mod4+Shift

set $cmod3	Mod3+Control
set $cmod4	Mod4+Control

# Font
set $fontName jetbrainsmono
set $fontSize 12

font pango:$fontName $fontSize

# Set keybinding
exec --no-startup-id xmodmap ~/.Xmodmap

# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex-autostart --autostart --environment i3

# Initialize opentabletdriver daemon
exec --no-startup-id otd-daemon

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# they are included here as an example. Modify as you see fit.
# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- betterlockscreen -l dimblur --off 60 -- -e

# Start picom compositor
exec_always --no-startup-id picom -b --config ~/.config/picom/config
# --experimental-backends

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# Use Mouse+$mod4 to drag floating windows to their wanted position
floating_modifier $mod4

# Start a terminal
bindsym $mod4+Return exec --no-startup-id kitty

# Open most used apps
bindsym $mod4+g exec --no-startup-id google-chrome
bindsym $mod4+e exec --no-startup-id thunar
bindsym $mod4+i exec --no-startup-id kitty nvim ~/.dotfiles/config/i3.config
bindsym $mod4+n exec --no-startup-id kitty nvim ~/.dotfiles/nvim/lua/config

# Kill focused window
bindsym $mod4+x kill

# Rofi configuration
bindsym $mod4+space exec --no-startup-id rofi -show combi -run-command "i3-msg exec '{cmd}'" -show-icons

# Change focus
bindsym $mod4+h focus left
bindsym $mod4+j focus down
bindsym $mod4+k focus up
bindsym $mod4+l focus right

# Move focused window
bindsym $smod4+h move left
bindsym $smod4+j move down
bindsym $smod4+k move up
bindsym $smod4+l move right

# Splits orientation
bindsym $mod4+c split h
bindsym $mod4+v split v

# Enter fullscreen mode for the focused container
bindsym $mod4+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
# bindsym $mod4+s layout stacking
bindsym $mod4+w layout tabbed
bindsym $mod4+s layout toggle split

# toggle tiling / floating
bindsym $smod4+space floating toggle

# change focus between tiling / floating windows
# bindsym $mod4+space focus mode_toggle

# focus the parent container
# bindsym $mod4+a focus parent

# focus the child container
# bindsym $mod4+d focus child

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set	$ws1	" 1 "
set	$ws2	" 2 "
set	$ws3 	" 3 "
set	$ws4 	" 4 "
set	$ws5 	" F1 "
set	$ws6 	" F2 "
set	$ws7 	" F3 "
set	$ws8 	" F4 "

# switch to workspace
bindsym $mod4+1 workspace $ws1
bindsym $mod4+2 workspace $ws2
bindsym $mod4+3 workspace $ws3
bindsym $mod4+4 workspace $ws4
bindsym $mod4+F1 workspace $ws5
bindsym $mod4+F2 workspace $ws6
bindsym $mod4+F3 workspace $ws7
bindsym $mod4+F4 workspace $ws8

# move focused container to workspace
bindsym $smod4+1 move container to workspace $ws1
bindsym $smod4+2 move container to workspace $ws2
bindsym $smod4+3 move container to workspace $ws3
bindsym $smod4+4 move container to workspace $ws4
bindsym $smod4+F1 move container to workspace $ws5
bindsym $smod4+F2 move container to workspace $ws6
bindsym $smod4+F3 move container to workspace $ws7
bindsym $smod4+F4 move container to workspace $ws8

# Move workspaces to where they should be
workspace $ws1 output primary
workspace $ws2 output primary
workspace $ws3 output primary
workspace $ws4 output primary
workspace $ws5 output nonprimary
workspace $ws6 output nonprimary
workspace $ws7 output nonprimary
workspace $ws8 output nonprimary

# reload the configuration file
bindsym $smod4+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $smod4+r restart
# exit i3 (logs you out of your X session)
bindsym $smod4+e exec --no-startup-id "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

set $bg #282828
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $gray #a89984
set $darkgray #1d2021
set $lightgray #bdae93

# class                 border	   |backgr	   |text	   |indicator  |child_border
client.focused          $lightgray	$lightgray	$bg			$yellow		$darkgray
client.focused_inactive $darkgray	$darkgray	$lightgray	$yellow 	$darkgray
client.unfocused        $darkgray	$darkgray 	$lightgray	$yellow 	$darkgray
client.urgent           $red		$red	 	$white		$red		$red

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
		position top
        status_command i3status -c /home/$USER/.config/i3status/config
		separator_symbol " -:- "
		padding  2px 10px
		tray_output none

		colors {
			background				$bg
			statusline				$lightgray
			separator				$yellow
			#						border		backgr		text
			focused_workspace		$lightgray	$lightgray	$bg
       		inactive_workspace  	$darkgray	$darkgray	$lightgray
       		active_workspace    	$darkgray 	$darkgray 	$lightgray
       		urgent_workspace    	$red		$red $bg
		}
}

# Gaps
gaps inner 12
gaps outer 48
smart_gaps off

# Keybinding lockscreen
bindsym $smod4+x exec --no-startup-id betterlockscreen -l dimblur --off 60 -- -e

# Assign apps to workspace
# for_window [class="kitty"] move to workspace $ws1
# for_window [class="Thorium-browser"] move to workspace $ws1
# for_window [class="Spotify"] move to workspace $ws3

# Window border appearance
default_border pixel 2
default_floating_border pixel 2

# Set connected monitor resolution and scale
exec --no-startup-id "bash ~/.dotfiles/setup/set-resolution.sh && ~/.dotfiles/setup/set-wallpaper.sh"

# Set wallpaper
bindsym $mod4+r exec --no-startup-id feh --no-fehbg --bg-fill --randomize ~/Pictures/wallpapers

# Night light
exec --no-startup-id redshift -m randr -l -25.410760:-49.207110 -b 1:.8 -t 6500:3000

## Screenshots
bindsym Print exec --no-startup-id maim "/home/$USER/Pictures/$(date -Iseconds).png"
bindsym $mod4+Print exec --no-startup-id maim --window $(xdotool getactivewindow) "/home/$USER/Pictures/$(date -Iseconds).png"
bindsym Shift+Print exec --no-startup-id maim --select "/home/$USER/Pictures/$(date -Iseconds).png"

## Clipboard Screenshots
bindsym Ctrl+Print exec --no-startup-id maim | xclip -selection clipboard -t image/png
bindsym Ctrl+$mod4+Print exec --no-startup-id maim --window $(xdotool getactivewindow) | xclip -selection clipboard -t image/png
bindsym Ctrl+Shift+Print exec --no-startup-id maim --select | xclip -selection clipboard -t image/png

