# i3 config file (v4)
#
# Please see https://i3wm.org/docs/userguide.html for a complete reference!

# Alt
set $mod1key Mod1
set $mod1 Mod1
set $smod1 Mod1+Shift
set $cmod1 Mod1+Control
set $scmod1 Mod1+Shift+Control

# Caps lock key is used for most frequent actions
set $mod3key Mod3
set $mod3 Mod3
set $smod3 Mod3+Shift
set $cmod3 Mod3+Control
set $scmod3 Mod3+Shift+Control

# Windows key is used for deep management / less frequent actions
set $mod4key Mod4
set $mod4 Mod4
set $smod4 Mod4+Shift
set $cmod4 Mod4+Control
set $scmod4 Mod4+Shift+Control

# Font
set $fontName jetbrainsmono
set $fontSize 12

font pango:$fontName $fontSize

# Start XDG autostart .desktop files using dex. See also
# https://wiki.archlinux.org/index.php/XDG_Autostart
exec --no-startup-id dex-autostart --autostart --environment i3

# Initialize opentabletdriver daemon
exec --no-startup-id otd-daemon

# The combination of xss-lock, nm-applet and pactl is a popular choice, so
# they are included here as an example. Modify as you see fit.
# xss-lock grabs a logind suspend inhibit lock and will use i3lock to lock the
# screen before suspend. Use loginctl lock-session to lock your screen.
exec --no-startup-id xss-lock --transfer-sleep-lock -- betterlockscreen -l dimblur --off 60 -- -e

# Start picom compositor
exec_always --no-startup-id picom -b --config /home/vitor/.config/picom/config
# --experimental-backends

# NetworkManager is the most popular way to manage wireless networks on Linux,
# and nm-applet is a desktop environment-independent system tray GUI for it.
exec --no-startup-id nm-applet

# Use pactl to adjust volume in PulseAudio.
set $refresh_i3status killall -SIGUSR1 i3status
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +10% && $refresh_i3status
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -10% && $refresh_i3status
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle && $refresh_i3status
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle && $refresh_i3status

# Use Mouse+$mod4 to drag floating windows to their wanted position
floating_modifier $mod4key

# Open most used apps
bindsym $mod4+Return exec --no-startup-id wezterm
bindsym $mod4+g exec --no-startup-id chrome
bindsym $mod4+e exec --no-startup-id thunar
bindsym $mod4+i exec --no-startup-id kitty nvim /home/vitor/.dotfiles/config/i3.config
bindsym $mod4+n exec --no-startup-id kitty nvim /home/vitor/.dotfiles/nvim/lua/config

# Kill focused window
bindsym $mod3+x kill

# Rofi configuration
bindsym $mod3+space exec --no-startup-id rofi -show combi -run-command "i3-msg exec '{cmd}'" -show-icons

# Change focus
bindsym $mod3+h focus left
bindsym $mod3+j focus down
bindsym $mod3+k focus up
bindsym $mod3+l focus right

# Move focused window
bindsym $smod3+h move left
bindsym $smod3+j move down
bindsym $smod3+k move up
bindsym $smod3+l move right

# Splits orientation
bindsym $mod3+c split h
bindsym $mod3+v split v

# Enter fullscreen mode for the focused container
bindsym $mod4+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
# $mod4+s layout stacking
bindsym $mod3+z layout tabbed
bindsym $smod3+z layout toggle split

# toggle tiling / floating
bindsym $smod4+space floating toggle

# change focus between tiling / floating windows
# $mod4+space focus mode_toggle

# focus the parent container
# $mod4+a focus parent

# focus the child container
# $mod4+d focus child

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set	$ws1 "1: terminal"
set	$ws2 "2: browser"
set	$ws3 "3: steam"
set	$ws4 "4: spotify"
set	$ws5 "5: krita"
set	$ws6 "6: blank"
set	$ws7 "7: blank"
set	$ws8 "8: blank"

# switch to workspace
bindsym $mod3+a workspace $ws1
bindsym $mod3+s workspace $ws2
bindsym $mod3+d workspace $ws3
bindsym $mod3+f workspace $ws4
bindsym $mod3+q workspace $ws5
bindsym $mod3+w workspace $ws6
bindsym $mod3+e workspace $ws7
bindsym $mod3+r workspace $ws8

# move focused container to workspace
bindsym $smod3+a move container to workspace $ws1
bindsym $smod3+s move container to workspace $ws2
bindsym $smod3+d move container to workspace $ws3
bindsym $smod3+f move container to workspace $ws4
bindsym $smod3+q move container to workspace $ws5
bindsym $smod3+w move container to workspace $ws6
bindsym $smod3+e move container to workspace $ws7
bindsym $smod3+r move container to workspace $ws8

# reload the configuration file
bindsym $smod4+c reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $smod4+r restart
# exit i3 (logs you out of your X session)
bindsym $smod4+e exec --no-startup-id "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -B 'Yes, exit i3' 'i3-msg exit'"

# base values
set $fg #BBC3D4
set $bg #242933

# black
set $black #242933
set $black2 #222630

# red
set $red #BF616A
set $red2 #C5727A

# green
set $green #97B67C
set $green2 #B1C89D

# yellow
set $yellow #EBCB8B
set $yellow2 #EFD49F

# blue
set $blue #5E81AC
set $blue2 #81A1C1

# magenta
set $magenta #B16185
set $magenta2 #BE9DB8

# cyan
set $cyan #8FBCBB
set $cyan2 #9FC6C5

# white
set $white #BBC3D4
set $white2 #D8DEE9

# class                 border	   |backgr	   |text	   |indicator  |child_border
client.focused          $fg			$fg		 	$bg			$red		$bg
client.focused_inactive $bg			$bg			$fg			$red		$bg
client.unfocused        $bg			$bg		 	$fg			$red		$bg
client.urgent           $red		$red	 	$white		$red		$red

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
bar {
		position top
        status_command i3status -c /home/$USER/.config/i3status/config
		separator_symbol " -:- "
		padding  2px 10px
		tray_output none

		colors {
			background				$bg
			statusline				$fg
			separator				$red
			#						border		backgr		text
			focused_workspace		$bg			$bg			$red
       		inactive_workspace  	$bg			$bg			$fg
       		active_workspace    	$bg			$bg			$fg
       		urgent_workspace    	$bg			$red		$fg
		}
}

# Gaps
gaps inner 12
gaps outer 12
smart_gaps on

# Keybinding lockscreen
bindsym $smod4+x exec --no-startup-id betterlockscreen -l dimblur --off 60 -- -e

# Assign apps to workspace
for_window [class="kitty"] move to workspace $ws1
for_window [class="wezterm"] move to workspace $ws1
for_window [class="chrome"] move to workspace $ws2
for_window [class="Steam"] move to workspace $ws3
for_window [class="Spotify"] move to workspace $ws4
for_window [class="Discord"] move to workspace $ws4
for_window [class="Krita"] move to workspace $ws5
for_window [class="PureRef"] move to workspace $ws5

# Window border appearance
default_border pixel 2
default_floating_border pixel 2

# Set connected monitor resolution and scale
exec --no-startup-id "bash /home/vitor/.dotfiles/setup/set-resolution.sh && /home/vitor/.dotfiles/setup/set-wallpaper.sh && betterlockscreen -u /home/vitor/pictures/wallpapers"

# Set wallpaper
bindsym $mod3+t exec --no-startup-id feh --no-fehbg --bg-fill --randomize /home/vitor/pictures/wallpapers
bindsym $mod3+y exec --no-startup-id feh --no-fehbg --bg-fill --randomize /home/vitor/pictures/.wallpapers

# Night light
# TODO: script for switch on/off using $mod3+n
exec --no-startup-id redshift -m randr -l -25.410760:-49.207110 -b 1:.8 -t 6500:3000

# Screenshots
bindsym Print exec --no-startup-id maim "/home/vitor/pictures/screenshots/$(date -Iseconds).png"
bindsym $mod4+Print exec --no-startup-id maim --window $(xdotool getactivewindow) "/home/vitor/pictures/screenshots/$(date -Iseconds).png"
bindsym Shift+Print exec --no-startup-id maim --select "/home/vitor/pictures/screenshots/$(date -Iseconds).png"

# Clipboard Screenshots
bindsym Ctrl+Print exec --no-startup-id maim | xclip -selection clipboard -t image/png
bindsym $mod4+Ctrl+Print exec --no-startup-id maim --window $(xdotool getactivewindow) | xclip -selection clipboard -t image/png
bindsym Ctrl+Shift+Print exec --no-startup-id maim --select | xclip -selection clipboard -t image/png

