# Font
set $fontName JetBrainsMono Nerd Font
font pango:$fontName 10

# Colors (Kanagawa-Wave Theme)
set $back       #1f1f28
set $fore       #dcd7ba
set $active     #7e9cd8
set $inactive   #957fb8
set $urgent     #ff5d62
set $trans      #00000000
set $border     #2a2a37

# Window colors
# class                 border      background  text        indicator   child_border
client.focused          $active     $active     $back       $active     $active
client.focused_inactive $inactive   $back       $fore       $inactive   $inactive
client.unfocused        $back       $back       $inactive   $back       $border
client.urgent           $urgent     $urgent     $fore       $urgent     $urgent
client.placeholder      $back       $back       $fore       $back       $back
client.background       $back

# Gaps
gaps inner 12
gaps outer 48
smart_gaps off

# Window border appearance
default_border pixel 3
default_floating_border pixel 3
