# Font
set $fontName JetBrainsMono Nerd Font
font pango:$fontName 10

# Colors
set $back       #1e1e1e
set $fore       #e0e0e0
set $active     #c0c0c0
set $inactive   #5c5c5c
set $urgent     #ff5f5f
set $trans      #00000000
set $border     #1e1e1e

# Window colors
# class                 border      background  text        indicator   child_border
client.focused          $active     $active     $back       $active     $active
client.focused_inactive $inactive   $back       $fore       $inactive   $inactive
client.unfocused        $back       $back       $inactive   $back       $border
client.urgent           $urgent     $urgent     $fore       $urgent     $urgent
client.placeholder      $back       $back       $fore       $back       $back
client.background       $back

# Gaps
gaps inner 12
gaps outer 32
smart_gaps off

# Window border appearance
default_border pixel 3
default_floating_border pixel 3
