# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
		output_format = i3bar
        colors = true
        interval = 1
		color_good = "#85DC85"
		color_degraded = "#FABD2F"
		color_bad = "#FF5454"
}

# order += "ipv6"
order += "wireless _first_"
order += "ethernet _first_"
order += "load"
order += "cpu_usage"
order += "cpu_temperature 0"
order += "memory"
order += "disk /"
order += "volume master"
order += "battery all"
order += "tztime local"

wireless _first_ {
        format_up = "wifi %speed"
        format_down = ""
		color_good = "#EEEEEE"
}

ethernet _first_ {
        format_up = "wired %speed"
        format_down = ""
		color_good = "#EEEEEE"
}

battery all {
		format = "%status %percentage %remaining %emptytime"
		format_down = ""
		status_chr = "charging"
		status_bat = "battery"
		status_unk = "unknown"
		status_full = "full"
		path = "/sys/class/power_supply/BAT%d/uevent"
		low_threshold = 10
}

disk "/" {
		format = "%avail available of %total"
}

load {
        format = "load %1min"
		max_threshold = "0.3"
}

cpu_usage {
		format = "usage %usage"
		max_threshold = 80
}

memory {
        format = "%used ram of %total"
        threshold_degraded = "1G"
}

volume master {
		format = "volume %volume"
		format_muted = "mute"
		device = "default"
		mixer = "Master"
		mixer_idx = 0
}

cpu_temperature 0 {
		format = "cpu %degrees°C"
		path = "/sys/devices/platform/thinkpad_hwmon/hwmon/hwmon6/temp1_input"
		max_threshold = "60"
}

tztime local {
        format = "%Y-%m-%d %H:%M:%S "
}
