[Unit]
Description=Kanata Service
Documentation=https://github.com/jtroo/kanata
Requires=local-fs.target
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/bin/kanata --cfg /etc/kanata/kanata.kbd

[Install]
WantedBy=sysinit.target
