# base values
foreground            #BBC3D4
background            #242933
selection_foreground  #222630
selection_background  #ebcb8b
url_color             #a97ea1

# black
color0   #242933
color8   #222630

# red
color1   #BF616A
color9   #C5727A

# green
color2   #97B67C
color10  #B1C89D

# yellow
color3   #EBCB8B
color11  #EFD49F

# blue
color4  #5E81AC
color12 #81A1C1

# magenta
color5   #B16185
color13  #BE9DB8

# cyan
color6   #8FBCBB
color14  #9FC6C5

# white
color7   #BBC3D4
color15  #D8DEE9

# gruvbox yellow #fabc2e
