# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set-option -g @plugin 'b0o/tmux-autoreload'

# Needed for nnn file preview
set -g allow-passthrough on

# Enable undercurl, underscore colors 
set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm'
set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m'

# Scrolling fix?
set -g terminal-overrides 'screen*,xterm*:smcup@:rmcup@'

# History limit
set -g history-limit 10000

# Basic configuration
set-option -g default-shell /bin/bash
set-option -g status-position top
set -s focus-events on

# Gotta go fast
set -s escape-time 0
set -sg repeat-time 600
set -g status-interval 1

# Windows numbers
set -g base-index 1
set -g pane-base-index 1
set-option -g renumber-windows on

# Set pane border colors.
set -g pane-border-style 'fg=#323437'
set -g pane-active-border-style 'fg=#524c47'

# Configure status bar.
set -g status-position top
set -g status-justify left 
set -g status-style 'bg=#322c27'
set -g status-left ' Panes: '
set -g status-left-style 'bg=#322c27'
set -g status-right 'session #[bold fg=#ffffff]#S #[none]@ #{pane_tty} '
set -g status-right-style 'bg=#322c27 fg=#f7f7f7'

# Configure window status.
set -g window-status-format '#[fg=#f7f7f7 bg=#322c27] #I:#W '
set -g window-status-current-format '#[fg=#40a080 bg=#25201b bold] #I#[none fg=#ffffff]:#W '
set -g window-status-separator ''

# # Status
# set -g status on
# set -g status-position top
# set -g status-justify absolute-cen
# set -g status-style fg=black,bg=white
# set -g status-left "#{?client_prefix,#[bg=red],} P #[default]< "
# set -g status-right "> %T "
# setw -g window-status-current-style fg=black,bg=white

# Command line
set -g message-style fg=black,bg=red

# Shut up tmux! 
set -g visual-activity off
set -g visual-bell off
set -g visual-silence off
set -g monitor-activity off
set -g bell-action none

# Keybindings

## Moving vim style
set -g mode-keys vi
set -g status-keys vi
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

## Resize panes
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

## Prefix
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

## Split panes using "|" and "-".
unbind %
unbind '"' 
bind | split-window -h
bind _ split-window -v

run '~/.tmux/plugins/tpm/tpm'
