# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'

# Set terminal to use truecolor
set-option -sa terminal-overrides ",xterm*:Tc"

# Basic configuration
set-option -g default-shell /bin/bash # /usr/bin/zsh
set-option -g status-position top

# Keybindings
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# link: https://github.com/b0o/tmux-autoreload
set-option -g @plugin 'b0o/tmux-autoreload'

# link: https://github.com/tmux-plugins/tmux-prefix-highlight
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'

# link: https://github.com/olimorris/tmux-pomodoro-plus
set -g @plugin 'olimorris/tmux-pomodoro-plus'
set -g status-interval 1

set -g status-justify centre
set -g status-style fg=white,bg=black
setw -g window-status-current-style fg=white,bg=black
set -g status-left ' tmux '
set -g status-right ' #{prefix_highlight}#{pomodoro_status} '

set -g status-left-length 100
set -g status-right-length 100

# TODO: create a set of colors and make this shit beutiful
# link for reference: https://hackernoon.com/customizing-tmux-b3d2a5050207
set -g @pomodoro_on '#[fg=white,bg=black] pomo '
set -g @pomodoro_complete '#[fg=white,bg=black] pomo ✔︎'
set -g @pomodoro_pause '#[fg=black,bg=yellow] pomo ⏸︎'
set -g @pomodoro_prompt_break '#[fg=black,bg=red] break?'
set -g @pomodoro_prompt_pomodoro '#[fg=black,bg=orange] start?'

set -g @pomodoro_interval_display ' [%s/%s]'

set -g @pomodoro_toggle 'p'                    # Start/pause a Pomodoro/break
set -g @pomodoro_cancel 'P'                    # Cancel the current session
set -g @pomodoro_skip '_'                      # Skip a Pomodoro/break

set -g @pomodoro_mins 25                       # The duration of the Pomodoro
set -g @pomodoro_break_mins 5                  # The duration of the break after the Pomodoro completes
set -g @pomodoro_intervals 4                   # The number of intervals before a longer break is started
set -g @pomodoro_long_break_mins 25            # The duration of the long break
set -g @pomodoro_repeat 'off'                  # Automatically repeat the Pomodoros?
set -g @pomodoro_disable_breaks 'off'          # Turn off breaks

set -g @pomodoro_menu_position "R"             # The location of the menu relative to the screen
set -g @pomodoro_sound 'on'                   # Sound for desktop notifications (Run `ls /System/Library/Sounds` for a list of sounds to use on Mac)
set -g @pomodoro_notifications 'on'           # Enable desktop notifications from your terminal

set -g @pomodoro_granularity 'on'             # Enables MM:SS (ex: 00:10) format instead of the default (ex: 1m)

# Refresh the status line every second
# Variables
# TMUX_COLORTAG_TAG_BOLD=yes
# TMUX_COLORTAG_TAG_FOCUS_UNDERLINE=no
# TMUX_COLORTAG_TAG_TEXT_COLOR=color255
# TMUX_COLORTAG_TAG_FOCUS_TEXT_COLOR=color10
# TMUX_COLORTAG_TAG_ONLY=yes

# Set pane count to start at 1, good for using num when switching windows
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# Use a theme
# set -g @plugin '2kabhishek/tmux2k'
# set -g @tmux2k-theme 'duo'
# set -g @tmux2k-duo-fg "#ffffff" # this will get you duo blue shown above
# set -g @tmux2k-duo-bg "#2A292B" # this will set the bg for duo theme
# set -g @tmux2k-compact-windows false
# set -g @tmux2k-right-plugins 'time'
# set -g @tmux2k-icons-only true
# set -g @tmux2k-show-powerline false
# set -g @tmux2k-start-icon 'tmux be like'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
