# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set-option -g @plugin 'b0o/tmux-autoreload'

# Set terminal to use truecolor
set -g default-terminal "screen-256color"
# set-option -sa terminal-overrides ",xterm*:Tc"

# Scrooling fix?
set -g terminal-overrides 'screen*,xterm*:smcup@:rmcup@'

# History limit
set -g history-limit 6000

# Set vim motions
set -g mode-keys vi
set -g status-keys vi

# Fast intervals
set -g status-interval 1

# Basic configuration
set-option -g default-shell /bin/bash
set-option -g status-position top

# Gotta go fast
set -s escape-time 0

# Keybindings
unbind C-b
set -g prefix C-Space
bind C-Space send-prefix

# Set pane count to start at 1, good for using num when switching windows
set -g base-index 1
set -g pane-base-index 1
set-window-option -g pane-base-index 1
set-option -g renumber-windows on

# Windows numbers
set-option -g renumber-windows on

# Activity
setw -g monitor-activity on
set -g visual-activity on

# Status
set -g status on
set -g status-position top
set -g status-justify absolute-centre
set -g status-style fg=black,bg=white
set -g status-left "#{?client_prefix,#[bg=red],} P #[default]< "
set -g status-right "> %T "
setw -g window-status-current-style fg=black,bg=white

# Command line
set -g message-style fg=black,bg=red

# Moving vim style
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# resize panes
bind -r H resize-pane -L 5
bind -r J resize-pane -D 5
bind -r K resize-pane -U 5
bind -r L resize-pane -R 5

# easy bindings for split
# bind | split-window -h
# bind \ split-window -h
# bind - split-window -v

# Refresh the status line every second
# Variables
# TMUX_COLORTAG_TAG_BOLD=yes
# TMUX_COLORTAG_TAG_FOCUS_UNDERLINE=no
# TMUX_COLORTAG_TAG_TEXT_COLOR=color255
# TMUX_COLORTAG_TAG_FOCUS_TEXT_COLOR=color10
# TMUX_COLORTAG_TAG_ONLY=yes

# Use a theme
# set -g @plugin '2kabhishek/tmux2k'
# set -g @tmux2k-theme 'duo'
# set -g @tmux2k-duo-fg "#ffffff" # this will get you duo blue shown above
# set -g @tmux2k-duo-bg "#2A292B" # this will set the bg for duo theme
# set -g @tmux2k-compact-windows false
# set -g @tmux2k-right-plugins 'time'
# set -g @tmux2k-icons-only true
# set -g @tmux2k-show-powerline false
# set -g @tmux2k-start-icon 'tmux be like'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
